name: Daily Anime Notification

on:
  schedule:
    - cron: '0 6 * * *'

  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Create secrets.py
        env:
          TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          echo "TELEGRAM_TOKEN = '$TOKEN'" > secrets.py
          echo "CHAT_ID = '$CHAT_ID'" >> secrets.py

      - name: Run bot
        run: python main.py